<div>
  <input type="checkbox" id="toggle-timestamp" [(ngModel)]="toggleTimestamp" />
  <label for="toggle-timestamp">Show Timestamps</label>
</div>
<div>
  <input
    type="text"
    id="search-bar"
    placeholder="Search logs..."
    [(ngModel)]="searchTerm"
  />
</div>
<table id="log-table">
  <thead>
    <tr>
      <th *ngIf="toggleTimestamp">Timestamp</th>
      <th>Log Messages</th>
    </tr>
  </thead>
  <tbody id="log-entries">
    <ng-container *ngFor="let log of logs | filterLogs : searchTerm">
      <tr app-log [log]="log" [toggleTimestamp]="toggleTimestamp"></tr
    ></ng-container>
  </tbody>
</table>
