<h1>Log Viewer</h1>
<div>
  <input type="checkbox" id="toggle-timestamp" [(ngModel)]="toggleTimestamp" />
  <label for="toggle-timestamp">Show Timestamps</label>
</div>
<div>
  <input type="text" id="search-bar" placeholder="Search logs..." />
</div>
<table id="log-table">
  <thead>
    <tr>
      <th *ngIf="toggleTimestamp">Timestamp</th>
      <th>Log Messages</th>
    </tr>
  </thead>
  <tbody id="log-entries">
    <tr *ngFor="let log of logs">
      <td *ngIf="toggleTimestamp">{{ log.timestamp }}</td>
      <td>{{ log.message }}</td>
    </tr>
    <!-- Log entries will be inserted here -->
  </tbody>
</table>
<router-outlet />
